* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.top-header {
  width: 100%px;
  height: 850px;
  background-image: url(images/donation13.jpg);
  background-color: rgba(8, 8, 8, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.wrapper {
  color: white;
  text-transform: uppercase;
}
.wrapper h1 {
  font-size: 60px;
  letter-spacing: 3px;
}
.wrapper p {
  font-size: 35px;
  max-width: 900px;
  margin: 30px auto;
  font-weight: 300;
  text-transform: capitalize;
}
.wrapper button {
  color: rgb(255, 255, 255);
  background-color: rgb(238, 74, 74);
  margin-top: 28px;
  margin-left: 29rem;
  padding: 10px 25px;
  border: 2px solid white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.wrapper button:hover {
  background: none;
  color: rgb(238, 74, 74);
}
.donate-container {
  margin-top: 70px;
  text-align: center;
}
.donate-content h1 {
  font-size: 55px;
  padding-bottom: 20px;
  padding-top: 10px;
  letter-spacing: 2px;
}
.donate-content p {
  font-size: 25px;
  padding-bottom: 40px;
}
.flex-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.flexbox {
  width: 200px;
  height: 200px;
  background-color: rgb(231, 231, 231);
  color: rgb(105, 102, 102);
  text-align: center;
  line-height: 200px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.flexbox-border {
  width: 200px;
  height: 200px;
  background-color: rgb(247, 223, 223);
  color: rgb(218, 69, 94);
  border: 3px solid rgb(218, 69, 94);
  text-align: center;
  line-height: 200px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 5px;
}
.placeholder {
  border: none;
  font-size: 28px;
  letter-spacing: 3px;
  margin-top: 50px;
  border-bottom: 1px solid grey;
}
.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(238, 74, 74);
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 10px 28px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  border: 2px solid rgb(238, 74, 74);
  background: none;
  color: rgb(238, 74, 74);
}
.donate-plan {
  text-align: center;
  margin-top: 20px;
}
.donate-content p {
  margin: 20px 120px;
}
.flex-card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card1 {
  width: 400px;
  height: 400px;
  text-align: left;
  background-color: rgb(182, 244, 255);
  padding: 10px;
  margin-left: 40px;
}
.img1 {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 10px;
}
.title1 {
  padding-bottom: 20px;
  padding-left: 10px;
}
.card1 p {
  padding-left: 10px;
}
.card2 {
  width: 400px;
  height: 400px;
  text-align: left;
  background-color: rgb(255, 187, 185);
  padding: 10px;
  margin-left: 40px;
}
.card2 p {
  padding-left: 10px;
}
.card3 {
  width: 400px;
  height: 400px;
  text-align: left;
  background-color: rgb(255, 237, 179);
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 70px;
}
.card3 p {
  padding-left: 10px;
}
.footer-content {
  text-align: center;
  margin-top: 30px;
  background-color: rgb(48, 48, 48);
  height: 10rem;
  color: white;
  padding-top: 50px;
}
.contribute-content {
  display: flex;
  margin-right: 8%;
  margin-left: 4%;
  margin-bottom: 5%;
}
.contribute-content h1 {
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.contribute-content p {
  font-size: 25px;
  padding-top: 20px;
}
.contribute-text {
  width: 40%;
  margin-right: 8%;
}
.contribute-img {
  width: 40%;
}
.footer-content h1 {
  color: rgb(248, 68, 68);
}
